.sub-chat-container {
  font-family: sans-serif;
  width: 200px;
  height: 300px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  &-block {
  }

  .container-user {
    display: flex;
    margin-top: 6px;
    margin-left: 6px;
    font-size: 12px;
    height: 32px;
    align-items: center;
    cursor: pointer;

    &-avatar {
      border-radius: 50%;
      width: 26px;
      height: 26px;
      margin-right: 6px;
    }

    &-block {
      &:hover {
        background: gray;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      height: 250px;
      &-2 {
        flex: 1;
      }
    }
  }

  .message-send-block {
    display: flex;
    &-text {
      resize: none;
      border-radius: 7px;
      height: 30px;
    }

    &-btn {
      border: none;
      background-color: #ffffff;
    }
  }


}

.sub-chat-container-two {
  display: none;
}
